.schedule-table table tr td {
  border: 1px solid black;
}
.tbl-header {
  text-align: center;
  font-weight: bold;
  background-color: rgb(143, 0, 26);
  color: white;
}
.class-link {
  text-align: center;
  background-color: #e6fff2;
  &:hover {
    background-color: #b3ffd9;
    cursor: pointer;
  }
}
